$tamanio_h2_desktop: 4em;
$tamanio_h3_desktop: 3em;
$tamanio_h2_mobile: 3em;
$tamanio_h3_mobile: 2em;
$white: rgb(224, 220, 238);
$darkblue: rgb(0, 0, 41);
$fondo_nav: rgb(2, 2, 102);
$center: center;
$ancho: 100%;
$background: transparent;
$font-size-desktop: 30px;
$font-size-mobile: 15px;
$altura: 100px;
