@import "../variables/variables.scss";

$nav: (
    color: $white,
    centro: $center,
    fondo: $fondo_nav,
    ancho: $ancho,

);

nav {
    color: map-get($nav, color);
    background-color: map-get($nav, fondo);
    width: map-get($nav, ancho);

}